
div h1{
    text-align: center;
    /* display: inline; */
    margin: 0;;
}
div p{
margin: 0;
}
body{
    background-color: rgb(69, 214, 135);
}
div{
    background-color: white;
    width: 75%;
    margin: auto;
    border-radius: 25px;
    padding: 10px;

}
